/* globle css */
*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}
ul{
    text-align: center;
    text-decoration: none;
    display: flex;
    list-style-type: none;
}
li{
    padding: 15px 25px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
hr{
    width: 80%;
    margin: 11px 0;
    background: #88C542;
    mix-blend-mode: normal;
    opacity: 0.2;

}
.header-text{
    font: normal normal 48px/48px Roboto;
    text-align: center;
    color: #9B9B9B;
    padding: 60px 0;
}
.text2{
    font: normal normal 16px/19px Roboto;
    color: #27AD6C;
    padding-top: 20px;

}
.text3{
    font: normal normal 13px/15px Roboto;
    text-transform: uppercase;
    color: #9B9B9B;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.text4{
    font: normal normal 14px/22px Roboto;
    text-align: center;
    padding-top: 10px;
    color: #4A4A4A;
    mix-blend-mode: normal;
    opacity: 0.78;
}


/* logo css */
#logo{
    color: #88C542;
    width: auto;
    height: 50px;
    position: relative;
    bottom: 14px;
}
#logo-icon{
    font-size: 20px;
    color: #E9E9E9;
    position: relative;
    left: 60px;
    top: 15px;
}
#logo-top{
    position: relative;
    left:70px;
    top: 10px;
    text-transform: uppercase;
}
#logo-botton{
    position: relative;
    top: 25px;
    right: 17px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
/* end of logo css */



/* header */
header{
    background:url(../images/code.jpg) no-repeat center;
    height: 600px;
    background-size: 100% 800px;
    /* opacity: 0.9; */
}
.text-head{
    font: normal bold 60px/96px Roboto;
    text-align: center;
    color: #FFFFFF;
}
.text1{
    font: normal normal 20px/28px Roboto;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
}
/* nav bar css with toggle on it*/
nav{
    height: 50px;
    width: 100%;
    float: right;
    background-color: black;
    padding-right: 30px;
    opacity: 0.8;
    position: relative;
    top: 30px;
}
label{
    font-size: 30px;
    float: right;
    cursor: pointer;
    display: none;
    color: white;
}
#toggle{
    display: none;
    float: right;
    cursor: pointer;
}
.menu{
    text-align: center;
    display: flex;
}
.menu li{
    padding: 15px 25px;
    margin-bottom: 0px;
}
.active{
    font-weight: bold;  
    color: #27AD6C;
} 

nav li a:hover:not(.active){
    color: #27AD6C;
}
#search{
    color: #E9E9E9;
    font-size: large;
    float: right;
    position: relative;
    left: 382px;
    top: 16px;
}
/* end of navbar css */

.center{
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#button1{
    background: #27AD6C;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 24px 50px;
    font: normal normal 16px/19px Roboto;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
  }

/* information section */
    
#information{
    background-color: #FFFFFF;
    height: auto;
    padding: 0 10%;
    clear: both;

}
.information-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.information-item{
    font-size: 10px;
    text-align: center;
}

#img1{
    background-image: url("../images/food.jpg");  
}

#img2{
    background-image: url("../images/htmlcss.jpg");    
}

#img3{
    background-image: url("../images/love.jpg");   
}

.image {
    background-repeat: no-repeat;
    width: auto;
    height: 230px;
    background-size: 300px 190px;
    background-position: center;
    margin: -13px 10px;
}

.image-explanation{
    padding: 0px 20px;
    font-size: 20px;
    text-align: center;
    
}

/* end of section */

/* resources section */
#resources{
    height: auto;
    background-color: #FFFFFF;
    clear: both;
    padding-top: 60px;
    
}
#ico{
    padding-top: 20px;
    height: auto;
    text-align: center;
    
}
#user-icon{
    font-size: 34px;
    color: #88C542;
}
#line::before,
#line::after {
    display: inline-block;
    content: "";
    border-top: 3px solid #88C542;
    width: 4rem;
    margin: -6px 9px;
    transform: translateY(-1rem);

}
#info{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    padding-top: 90px;
}
#info td ,#info th{
    padding: 9px;
}
#info td{
    padding-left: 190px;

}
#info td:nth-child(even){
    border-left: 3px solid #88C542;
}

/* instagram */
#instagram{
    background-color: #FFFFFF;
    height: auto;
    clear: both;
}
#instagram>h2{
    font: normal normal 48px/48px Roboto;
    padding: 60px 0;
    text-align: center;
    color: #9B9B9B;
}
#instagram> p{
    font: italic normal 14px/16px Roboto;
    text-align: center;
    padding-bottom:23px;
    color: #9B9B9B;
}
.instagram-container{
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.instagram-item{
    
    font-size: 10px;
    text-align: center;
}
.instagram-item img{
    height: 400px;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* service */
#service{
    background-color: #423633;
    text-align: center;
    height: auto;
}
.service-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px 66px;
  }
.service-item {
    padding: 20px;
    font-size: 10px;
    text-align: center;
  }
.service-item> span{
    position: relative;
    top: 34px;
    right: 175px;
    font-size: 34px;
    color:#FED693;
  }
.service-item>p{
    padding: 10px 62px;
    font: normal normal 16px/24px Roboto;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
.service-item h3{
    font: normal bold 18px/18px Roboto;
    color: #FFFFFF;
    text-transform: uppercase;
  }

#service-header{
    color: #FFFFFF;
  }
#icon{
    font-size: 34px;
    padding: 30px; 
}


/* -------footer parts of html---- */
#left_footer, #right-footer{
    height: 70px;
    color: aliceblue;
    background-color: #333333;
    float: left;
    width: 50%;
}
#right-footer>a{
    text-decoration: none;
    color: aqua;
}
#left_footer>span{
    position: relative;
    top: 20px;
    left: 20px;
}
#right-footer>ul{
    float: right;
    padding: 7px 7px;
}

/* desktop */
@media only screen and (min-width: 1024px)
 {
  /* -----nav bar---- */
   
  .menu{
    float: right;
}
 }

    /* * tablet */ 
 @media (min-width: 768px) and (max-width: 1023px) {
  
    /* nav bar */
    .menu{
        float: right;
    }
   
    
    /* information section */
    
    #information{
        padding: 0;
    }
    .image {
        background-size: 300px 190px;
    }

    .image-explanation{
        padding: 0px 15px;
    }
    /* ---resources section---- */
    #info td{
        padding-left: 70px;    
    }
    /* services section */
    .service-container {
    grid-template-columns: auto auto;
    }
    .service-item span{
        top: 57px;
        right: 155px;
    }
 }

/* mobile */
@media only screen and (max-width: 767px) {

    .text-head{
        font-size:50px; 
        line-height: 60px;
    }
    .text1{
        font-size: 15px;
        line-height: 29px;
    }
    #search{
        position: relative;
        left: -13px;
        top: 12px;
    }
    nav{
        padding-right: 0;
    }
    /* navbar on mobile screen */
    .menu{
        display:none;
        position: relative;
        top: 40px;

    }
    label{
        display: block;
    }

    #toggle:checked + .menu{
        display: block;
        z-index: 1;
        background-color: #222121;
        opacity: 0.9;
        }
    .hover-menu:hover{
        background-color: rgb(51, 54, 54);
    }
    /* end of navbar */
     
    /* information section */
    .center{
    top: 60%;
    }
     #information{
        height: auto;
        padding: 0;
    }
    .image{
        width: auto;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .information-container{
     grid-template-columns: auto;
    }
    .image-explanation{
        padding: 0px 60px;
        margin-top: 30px;
    }
    /* resources section mobile */
    #info td{
    padding-left: 10px;    
    }
    /* instagram mobile */
    .instagram-container{

    grid-template-columns: auto auto;
    
    } 
    /* services section mobile */
    .service-container {
    grid-template-columns: auto;
    }
    .service-item span{
        top: 31px;
        right: 181px;
    }
    /* -------footer parts of html---- */
    #left_footer, #right-footer{
        height: 60px;
        width: 100%;
    }
    #right-footer>ul{
        float: left;
        
    }
 }
